[submodule "ickstream-p2p"]
	path = ickstream-p2p
	url = https://github.com/ickStream/ickstream-p2p.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/ickStream/libwebsockets.git
